.profile
{
    max-width: 700px;
    margin: 10px auto;
    text-align: center;
}
.profile-frame
{
    display: flex;
    justify-content:space-evenly;
}
.profile-pic{
    height: fit-content;
}
.profile-pic>img{
    width:5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 3rem;
    border: 1px solid grey;
}
.profile-info
{
    display: flex;
}
.profile-info>p{
    padding: 0px 8px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 4px;
}
.gallery img{
    width: 33%;
    border-bottom: 1px solid;
    border-right: 1px solid;
}