.profile
{
    max-width: 700px;
    padding-top: 4rem;
    margin: auto;
    text-align: center;
}
.profile-frame
{
    display: flex;
    justify-content:space-evenly;
}
.profile-pic{
    height: fit-content;
    box-shadow: 2px 6px 25px #0A1EF0;
    border-radius: 3.5rem;
    background-color: black;
}
.profile-pic>img{
    width:5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 3rem;
    border: 1px solid grey;
}
.profile-info
{
    display: flex;
}
.profile-info>p{
    padding: 0px 8px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    border-radius: 4px;
}
.gallery img{
    width: 33%;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
.gallery img:hover{
    width: 100%;
    min-height: 100%;
}